
{%extends "base.html"%}
{%block title%}
search results
{%endblock%}



{%block content1%}

    <!-- <h2>This is from search.html</h2> -->
    {%if not final_queryset%}
    <h2>Sorry no results for the query :(</h2>
    {%endif%}



    {%for i in final_queryset%}
        <div class="container">
        
        <div>
            <h2>{{i.key}}:</h2>
        </div>
        <div class="value">
            <h2 style="max-width: 100%;">{{i.values}}</h2>
        </div>

    </div>
    {% endfor %}


{%endblock%}
